body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff1493;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: pink;
}

#result {
    width: 100%;
    height: 50px;
    text-align: right;
    margin-bottom: 20px;
    font-size: 2.5em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    font-size: 1.5em;
    margin: 5px;
    cursor: pointer;
}
